#uthaanlogo{
     height:40px;
     width: 99x;
}
.navbar-default {
  background-color: transparent;
    min-height: 50px;
}


.bg-color {
  background-color: RGBA(0, 0, 0, 0.41);
}

.nav>li>a {
  padding: 0px;
}

.navbar-brand {
  padding: 0px;
  height: inherit;
  font-family: 'Lato', sans-serif;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #FFD34E;
  text-transform: uppercase;
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #FFD34E;
}

.navbar-fixed-top {
  padding: 40px 0;
  transition: all 0.5s;
}

@media (max-width: 768px) {
	.navbar-collapse {
		background: rgba(0, 0, 0, 0.8);
		border-top: 0;
	}
}

.top-nav-collapse {
  background: rgba(0, 0, 0, 0.8);
  padding: 25px 0;
}
.wrapper {
  padding: 200px 0px 130px;
}

.top-title {
  z-index: 5;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  line-height: 55px;
  letter-spacing: 4px;
  opacity: 1;
  text-transform: uppercase;
}

.sub-title {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  line-height: 55 px;
  letter-spacing: 4px;
  opacity: 1;
  text-transform: uppercase;
}

.title {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  line-height: 55 px;
  letter-spacing: 4px;
  opacity: 1;
  text-transform: uppercase;
  padding: 25px 0px;
}
.peacock {
	display: block;
	margin: 0 auto;
}

.peacock__feathers use {
	transform-origin: 150px 150px;
	animation-direction: alternate;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.peacock__feathers use:nth-child(2) {
	animation-name: anim-feather-2;
}

.peacock__feathers use:nth-child(3) {
	animation-name: anim-feather-3;
}

.peacock__feathers use:nth-child(4) {
	animation-name: anim-feather-4;
}

.peacock__feathers use:nth-child(5) {
	animation-name: anim-feather-5;
}

.peacock__feathers use:nth-child(6) {
	animation-name: anim-feather-6;
}

.peacock__feathers use:nth-child(7) {
	animation-name: anim-feather-7;
}

@keyframes anim-feather-2 {
	from {transform: rotate(23deg);}
	to {transform: rotate(20deg);}
}

@keyframes anim-feather-3 {
	from {transform: rotate(46deg);}
	to {transform: rotate(40deg);}
}

@keyframes anim-feather-4 {
	from {transform: rotate(69deg);}
	to {transform: rotate(60deg);}
}

@keyframes anim-feather-5 {
	from {transform: rotate(-23deg);}
	to {transform: rotate(-20deg);}
}

@keyframes anim-feather-6 {
	from {transform: rotate(-46deg);}
	to {transform: rotate(-40deg);}
}

@keyframes anim-feather-7 {
	from {transform: rotate(-69deg);}
	to {transform: rotate(-60deg);}
}

.peacock__crown {
	animation-name: anim-crown;
	animation-direction: alternate;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.peacock__crown, .peacock__crown use {
	transform-origin: 150px 75px;
}

@keyframes anim-crown {
	from {transform: rotate(-45deg);}
	to {transform: rotate(-60deg);}
}
.about{
    display: grid;
    grid-template-columns: 64% 36%; 
    margin: 30px;
    grid-gap: 5em;
}
.aboutitem1{
    border: 3.1px solid #FF7F50;
    margin: auto;
    box-shadow: 0 1px 5px rgba(0,0,0,1)
}

