#uthaanlogo{
     height:80px;
     width: 99x;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    line-height: 70px;
}

h4 {
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    position: relative;
    color: #425BB5;
    margin-left: 40px;
    font-weight: 700;
}

h4:before {
    position: absolute;
    width: 30px;
    left: -40px;
    content: "";
    display: block;
    height: 2px;
    background: #425BB5;
    top: 9px;
}
header {
    -webkit-transition: all .5s;
    transition: all .5s;
    height: 65px;
}

nav ul {
    display: inline-block;
    padding-left: 0;
    list-style: none;
    padding: 20px;
    margin-bottom: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}

nav li {
    display: inline-block;
    margin: 10px;
}

nav li a {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #444;
    font-size: 11px;
    font-weight: bold;
}

.bg-nav {
    background: #fff;
    border-bottom: 1px solid #f3f3f3
}

.bg-nav ul {
    padding: 10px;
}

a:focus {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #425BB5;
    text-decoration: none;
}

a.active {
    color: #425BB5;
}