#uthaanlogo{
     height:40px;
     width: 99x;
}
.navbar-default {
  background-color: transparent;
    min-height: 50px;
}


.bg-color {
  background-color: RGBA(0, 0, 0, 0.41);
}

.nav>li>a {
  padding: 0px;
}

.navbar-brand {
  padding: 0px;
  height: inherit;
  font-family: 'Lato', sans-serif;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #FFD34E;
  text-transform: uppercase;
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #FFD34E;
}

.navbar-fixed-top {
  padding: 40px 0;
  transition: all 0.5s;
}

@media (max-width: 768px) {
	.navbar-collapse {
		background: rgba(0, 0, 0, 0.8);
		border-top: 0;
	}
}

.top-nav-collapse {
  background: rgba(0, 0, 0, 0.8);
  padding: 25px 0;
}
.bg {
  width: 100%;
  height:670px;
  background-image: url("../img/group.jpeg");
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
}
/* founder msg */
.bg1 {
  width: 100%;
  height:720px;
  background-image: url("../img/86280.jpg");
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
}
.foundermsg {
  font: 15px/150% Georgia, "Times New Roman", Times, serif;
}
 ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

/* =============================================== /*
/*                                                 /* 
/*     Animate CSS : https://daneden.me/animate     /*
/*                                                 /*
/* =============================================== */

@-webkit-keyframes flipInX {
  0% { -webkit-transform: perspective(400px) rotateX(90deg); }

  30% { -webkit-transform: perspective(400px) rotateX(-10deg); }

  70% { -webkit-transform: perspective(400px) rotateX(10deg); }

  100% { -webkit-transform: perspective(400px) rotateX(0deg); } }

@-moz-keyframes flipInX {
  0% { -moz-transform: perspective(400px) rotateX(90deg); }

  30% { -moz-transform: perspective(400px) rotateX(-10deg); }

  70% { -moz-transform: perspective(400px) rotateX(10deg); }

  100% { -moz-transform: perspective(400px) rotateX(0deg); } }

@-o-keyframes flipInX {
  0% { -o-transform: perspective(400px) rotateX(90deg);
       opacity: 0; }

  30% { -o-transform: perspective(400px) rotateX(-10deg); }

  70% { -o-transform: perspective(400px) rotateX(10deg); }

  100% { -o-transform: perspective(400px) rotateX(0deg); } }

@keyframes flipInX {
  0% { transform: perspective(400px) rotateX(90deg);
       opacity: 0; }

  30% { transform: perspective(400px) rotateX(-10deg); }

  70% { transform: perspective(400px) rotateX(10deg); }

  100% { transform: perspective(400px) rotateX(0deg); } }

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill: both;
  -moz-animation-fill: both;
  -ms-animation-fill: both;
  -o-animation-fill: both;
  animation-fill: both; }

.flipInX {
  -webkit-animation-name: flipInX;
  -moz-animation-name: flipInX;
  -ms-animation-name: flipInX;
  -o-animation-name: flipInX;
  animation-name: flipInX; }

/* =============================================== /*
/*                                                 /* 
/*                     Messages                    /*
/*                                                 /*
/* =============================================== */

#messages {
  position: relative;
  margin: 50px auto;
  padding: 0;
  width: 800px;
  list-style: none; }

#messages li {
  float: left;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dashed #c8c7b4; }

#messages li:nth-child(2n) .infos {
  float: right;
  margin-left: 20px; }

#messages li:nth-child(2n) .infos a {
  -webkit-box-shadow: 1px 1px 0 1px rgba(90, 81, 15, 0.2);
  -moz-box-shadow: 1px 1px 0 1px rgba(90, 81, 15, 0.2);
  box-shadow: 1px 1px 0 1px rgba(90, 81, 15, 0.2);
  left: inherit; }

#messages li:nth-child(2n) .content { border-width: 1px 3px 4px 4px; }

#messages li:nth-child(2n) .content:after,
#messages li:nth-child(2n) .content:before {
  right: -9px;
  left: inherit;
  -webkit-transform: rotate(41deg);
  -moz-transform: rotate(41deg);
  -o-transform: rotate(41deg);
  transform: rotate(41deg); }

#messages li:nth-child(2n) .facebook { right: -10px; }

#messages li:nth-child(2n) .twitter { right: -5%; }

#messages li:nth-child(2n) .github { right: -1%; }

#messages .infos {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  float: left;
  padding: 3px;
  width: 130px;
  height: 130px;
  border: 5px solid #c8c7b4; }

#messages .infos a {
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
  -webkit-box-shadow: -1px 1px 0 1px rgba(90, 81, 15, 0.2);
  -moz-box-shadow: -1px 1px 0 1px rgba(90, 81, 15, 0.2);
  box-shadow: -1px 1px 0 1px rgba(90, 81, 15, 0.2);
  position: absolute;
  width: 20px;
  height: 22px;
  background-color: #d5d2a8;
  color: #fff;
  text-decoration: none;
  text-indent: -10000px;
  font-size: 11px; }

#messages .infos a:hover {
  padding: 0 10px 0 18px;
  width: auto;
  border: none;
  text-indent: 0;
  opacity: 0.95; }

#messages img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 100%; }
.contact-area {
    border-bottom: 1px solid #353C46;
    padding: 70px 0 70px 0;
}
.contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
}

.contact-content p::after {
    background: #353C46;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
}

.contact-content h6 {
    color: #8b9199;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-content span {
    color: #353c47;
    margin: 0 10px;
}

.contact-social {
    margin-top: 30px;
}

.contact-social > ul {
    display: inline-flex;
}

.contact-social ul li a {
    border: 1px solid #8b9199;
    color: #8b9199;
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    padding-top: 7px;
    transition: all 0.4s ease 0s;
    width: 40px;
}

.contact-social ul li a:hover {
    border: 1px solid #FAB702;
    color: #FAB702;
}

.contact-content img {
    max-width: 210px;
}

footer {
    background: #1A1E25;
    color: #868c96;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

footer p {
    padding: 40px 0;
    text-align: center;
}

footer img {
    width: 44px;
}



/* =============================================== /*
/*                                                 /* 
/*      + SVG sprite (social media icons ).        /*
/*      + You can use PNG if your navigator don't  /*
/*        support SVG format.                      /*
/*                                                 /*
/* =============================================== */

.content {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  float: left;
  margin-left: 20px;
  padding: 15px 25px;
  width: 510px;
  border-width: 1px 4px 4px 3px;
  border-style: solid;
  border-color: #c8c7b4;
  background-color: #ece5bd;

/* ==================================================================== /*
/*                                                                      /* 
/*   + Css Patterns from : http://lea.verou.me/css3patterns/            /* 
/*   + Arbaoui mehdi : Fix a gradient color bug in OPERA,FIREFOX        /*
/*     and SAFARI (only new versions)                                   /*
/*                                                                      /*
/* ==================================================================== */

  background-image: -linear-gradient(0deg, transparent 18px, #dbada9 0, #dbada9 20px, transparent 19px),
                    -linear-gradient(#e1dab0 0.1em, transparent 0.1em);
  background-image: -webkit-linear-gradient(0deg, transparent 11px, #dbada9 0, #dbada9 14px, transparent 12px),
                    -webkit-linear-gradient(#e1dab0 0.1em, transparent 0.1em);
  background-image: -moz-linear-gradient(0deg, transparent 11px, #dbada9 0, #dbada9 13px, transparent 12px),
                    -moz-linear-gradient(#e1dab0 0.1em, transparent 0.1em);
  background-size: 100% 10px;
  color: #333;

}

/* ====================================================================================== /*
/*                                                                                        /* 
/*   + Talk bubble with shadow                                                            /* 
/*     From http://forrst.com/posts/How_to_Make_a_Pure_CSS_Speech_Bubble_With_a_Drop-PU1  /*
/*   + Arbaoui mehdi: Change position (left and right) of arrow                        /*
/*                                                                                        /*
/* ====================================================================================== */

.content:after, .content:before {
  border-bottom: 23px solid transparent;
  border-right: 20px solid #ece5bd;
  top: 49px;
  content: '';
  position: absolute;
  left: -9px;
  -webkit-transform: rotate(220deg);
  -moz-transform: rotate(220deg);
  -o-transform: rotate(220deg);
  transform: rotate(220deg); }

.content h3 {
  font: 23px "Satisfy";
  margin: 0;
  padding: 0;
  font-weight: normal; }

.content p {
  margin: 10px 0 0 0;
  font-size: 15px;
  line-height: 1.7em; }

.content p a {
  text-decoration: none;
  background-color: #f7f3c5;
  border-bottom: solid 1px #cfcebe;
  color: #834202;
  padding: 1px 4px; }

.content p a:hover { background-color: #f5ec82; }

.content b {
  display: block;
  color: #75280c;
  font: italic normal 17px Georgia; }

.content:before {
  top: 48px;
  left: -11px;
  border-right: 19px solid rgba(0, 0, 0, 0.1); }
/**/
#about-us-text{
  color: #999999;
  margin-top: 340px;
  margin-left: 135px;
  font-size: 16px;
  letter-spacing: 1px;
  width: 700px;
  text-align: center;
  line-height: 31px;
   z-index: 3;
  position: absolute;
}

.our-team{
    text-align: center;
    transition: all 0.5s ease 0s;
}
.our-team:hover{
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.our-team .pic{
    overflow: hidden;
    position: relative;
    height: 270px;
}
.our-team .pic:before,
.our-team .pic:after{
    content: "";
    width: 200%;
    height: 90%;
    background: rgba(38,37,37,0.8);
    position: absolute;
    top: -100%;
    left: -4%;
    transform: rotate(45deg);
    transition: all 0.5s ease 0s;
}
.our-team .pic:after{
    background: rgba(8,75,77,0.8);
    top: auto;
    left: auto;
    bottom: -100%;
    right: -4%;
}
.our-team:hover .pic:before{ top: 0; }
.our-team:hover .pic:after{ bottom: 0; }
.our-team .pic img{
    width: 100%;
    height: auto;
}
.our-team .social{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 45%;
    left: 0;
    opacity: 0;
    z-index: 2;
    transition: all 0.5s ease 0.3s;
}
.our-team:hover .social{ opacity: 1; }
.our-team .social li{ display: inline-block; }
.our-team .social li a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
    position: relative;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:after{
    content: "";
    width: 100%;
    height: 100%;
    background: #db162f;
    border-radius: 0 20px 20px 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:hover:after{ transform: rotate(180deg); }
.our-team .team-content{ padding: 20px; }
.our-team .title{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #047168;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.our-team .post{
    display: block;
    font-size: 17px;
    font-weight: 600;
    color: #707070;
    text-transform: capitalize;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}
 h2{
  text-align:center;
  padding: 20px;
}
/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
